* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* html {
  min-height:100%;
  background:linear-gradient(0deg,rgba(125, 124, 124, 0.3),rgba(255,0,150,0.3)),url('https://cdn.pixabay.com/photo/2015/08/27/12/55/background-910412_960_720.jpg');
  background-size:cover;
  } */

.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 70px;
  background-color: rgba(128, 128, 128, .55);
}
.container1 {
  background:linear-gradient(0deg,rgba(125, 124, 124, 0.55),rgba(95, 93, 94, 0.55)),url('https://cdn.pixabay.com/photo/2015/08/27/12/55/background-910412_960_720.jpg');  background-size: cover; 
  background-repeat: no-repeat;
  width: 100% !important;
  height: 100vh !important;
}
.container2 {
  background-color: #EFDEC4;
  width: 100% !important;
  height: 100vh !important;
}
.container3 {
  background-color: rgb(203, 101, 70);
  width: 100% !important;
  height: 100vh !important;
}
.container4 {
  background-color: #D4B681;
  width: 100% !important;
  height: 100vh !important;
  position: relative;
  z-index: 100;
  background:linear-gradient(0deg,rgba(125, 124, 124, 0.55),rgba(95, 93, 94, 0.55));  
  background-size: cover; 
}

.container4 video {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: -100;
}

header {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav {
  padding: 5px;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  padding: 20px;
  color: #fff;
  font-size: 18px;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.nav-item:hover {
  color: #fff;
  border-bottom: 4px solid white;
}
/* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */